#main{
	width: 1000px;
	margin: 10px auto;
}

#help_side_nav{
	background: #22314E;
	float: left;
	width: 200px;
	padding:5px 0 50px 0;
}
#help_side_nav li{padding: 5px 0;}
#help_side_nav li a{
	display: block;
	padding-left: 30px;
	color: #fff;
	font-family: Microsoft Yahei;
	font-size: 18px;
	line-height: 30px;
	vertical-align: top;
}
#help_side_nav li a.s_sel{
	color: #000;
	background: #fff;
}
.help_c{
   line-height: 1.5em;
}
.help_c h2{
	font-size: 14px;
	line-height: 2em;
	color:#22314E;
}
.help_c p{
	padding: 5px 0;
}
.help_c ul {
    list-style: square outside none;
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 2em;
}
#help_c_zone{
	float:right;
	border:3px solid #22314E;
	width: 774px;
	min-height: 435px;
    height:auto !important; 
    height:435px; 
    padding: 10px;
	padding-top: 4px;
    overflow:visible;
}

.help_t{
	font-size:20px;
	line-height: 34px;
	font-family: Microsoft Yahei;
	border-bottom: 1px solid #22314E;
	margin-bottom: 10px;
}
.bread{
	line-height:30px;
	padding-bottom:10px;
}
dl{
	line-height:22px;
	padding:10px 0;
}