mixin calendar()
   div.calendar-box#calendar-box
      div.calendar-handle.background-base
         a(href="javascript:;").calendar-colse
            i.font-icon.icon-iconfont-32pxchaxian
      div#calendar